.status-bubble-content {
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #D8D8D8;
    border-radius: 40px;
    opacity: 1;
    margin: 0 20px 20px 0;
    padding: 0 20px 0 20px;

    &:hover {
       background-color: #D8D8D8;
    }

    :nth-child(2) {
        font-size: 12px;
        margin: 0 35px 0 15px;
    }
}

.status-bubble {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
}

.status-count {
    font-size: 16px;
}

.status-icon-red,
.status-icon-pink,
.status-icon-orange,
.status-icon-yellow,
.status-icon-green {
    min-width: 20px;
    height: 20px;
    border-radius: 100%;
}

.status-icon-red {
    background-color: #FF0000;
}

.status-icon-pink {
    background-color: #FF000080;
}

.status-icon-orange {
    background-color: #FFC000;
}

.status-icon-yellow {
    background-color: #FFC00080;
}

.status-icon-green {
    background-color: #92D050;
}

.inscriptions-count {
    color: #0C0C0C;
    font-size: 40px;
}

.header-sub-container {
    font-size: 24px;
}

.status-bubble p {
    text-decoration: underline;
    color: #8C8C8C;
    align-self: center;
}

.status-bubble-content, .status-bubble p {
    cursor: pointer;
}