.main-card-container,
.left-side-container,
.right-content {
    display: flex;
}

.main-card-container {
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 30px;
    opacity: 1;
    width: 955px;
    height: 251px;
}

.left-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

hr {
    width: 1px;
    height: 100%;
    border: none;
    border-left: 1px solid hsla(200, 10%, 50%, 100);
    margin: 0 25px 0 25px;
}

.uil-map-marker,
.uil-arrow-right,
.uil-user {
    margin-right: 13px;
}

.right-content {
    flex-direction: column;
}