/* You can add global styles to this file, and also import other style files */

body {
    //background: #FAFAFA 0% 0% no-repeat padding-box;
    background: linear-gradient(to right, #FFD400, #FFD40080);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, span {
    font-family: 'Questrial', sans-serif;
}