/* You can add global styles to this file, and also import other style files */

body {
    background: linear-gradient(to right, #FFD400, #FFD40080);
    background-size: 200%;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, span {
    font-family: 'Lexend Deca', sans-serif;
    color: #404040;
}