/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body {
    //background: #FAFAFA 0% 0% no-repeat padding-box;
    background: linear-gradient(to right, #FFD400, #FFD40080);
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

p, span {
    font-family: 'Open Sans', sans-serif;
}